
$font-size: 1rem
$font-color: black

$color-black: black
$color-grey: grey

body
  background-color: $color-grey

#map-header
  background: black
  color: white
  height: 13rem
  h1
    color: white
    margin-left: 2em
    padding: 3rem 0 0 0
    font-size: $font-size*3
    line-height: 1.1
  #map-inputs
    padding: 2.4rem 0 0 8rem
  label
    display: inline-block
    text-transform: uppercase
    font-size: $font-size*1.03
    width: 5.5rem
  input
    width: 37rem
    height: 3rem
    font-size: $font-size*1.2
    padding-left: 1rem


#map
  width: 1500px
  height: 900px

#overlay
  width: 30%
  height: 300px
  padding: 5em
  color: $font-color
  background-color: white
  h2
    font-size: $font-size*1.5
    strong
      font-size: $font-size*3.3
  label
    padding-right: 1em
    font-weight: bold
  select
    background: transparent
    border-style: solid
    border-width: 2px
    border-color: red
    border-radius: 25%
  .uk-alert
    margin-top: 0

// Commande

.validation
  .total
    font-size: $font-size*1.3
    span
      font-size: $font-size*2
      font-weight: bold
  input
    width: 100px
  textarea
    width: 100%
